header {
	width: 100%;
	background-color: #308bc5;
	overflow: hidden;
}

.fixed-nav {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 101;
}

.container-menu {
	background-color: #308bc5;
	padding: 7px 16px;
	max-width: 1110px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	position: relative;
	z-index: 101;
}

.container-menu button {
	border: 0;
	background: transparent;
	align-self: center;
	display: inline-block;
}

.container-menu nav {
	display: none;
}

.container-menu nav a {
	font-size: 12px;
	color: white;
	padding: 10px 16px;
	position: relative;
	text-decoration: none;
}

.container-menu nav a::after {
	content: " ";
	background-color: #5292c1;
	display: block;
	position: absolute;
	width: 1px;
	height: 12px;
	margin: auto;
	left: 0;
	top: 0;
	bottom: 0;
}

.container-menu input {
	color: #ffffff;
	background: #5579a1;
	padding: 10px 42px;
	border: 0;
	background-image: url(http://alurakut.vercel.app/icons/search.svg);
	background-position: 15px center;
	background-repeat: no-repeat;
	border-radius: 1000px;
	font-size: 12px;
}

.container-menu input::placeholder {
	color: #ffffff;
	opacity: 1;
}

.alurakutMenuLogo {
	background-color: #ffffff;
	padding: 9px 14px;
	border-radius: 1000px;
	height: 34px;
}

.alurakutMenuProfileSidebar {
	background: white;
	position: fixed;
	z-index: 100;
	padding: 46px;
	bottom: 0;
	left: 0;
	right: 0;
	top: 48px;
	transition: 0.3s;
}

.alurakutMenuProfileSidebar.menuOpen {
	pointer-events: all;
	opacity: 1;
	transform: translateY(0);
	overflow-y: scroll;
}

.alurakutMenuProfileSidebar.menuClosed {
	pointer-events: none;
	opacity: 0;
	transform: translateY(calc(-100% - 48px));
}

.alurakutMenuProfileSidebar div {
	max-width: 400px;
	margin: auto;
}
.alurakutMenuProfileSidebar a {
	font-size: 18px;
}

.alurakutMenuProfileSidebar .boxLink {
	font-size: 18px;
	color: #2e7bb4;
	-webkit-text-decoration: none;
	text-decoration: none;
	font-weight: 800;
}
.alurakutMenuProfileSidebar hr {
	margin-top: 12px;
	margin-bottom: 8px;
	border-color: transparent;
	border-bottom-color: #ecf2fa;
}

.disabled-link {
	color: gray;
	cursor: default;
	text-decoration: none;
}

@media (min-width: 860px) {
	.container-menu {
		justify-content: flex-start;
	}
	.container-menu button {
		display: none;
	}
	.container-menu nav {
		display: flex;
		align-items: center;
	}
	.alurakutMenuProfileSidebar {
		display: none;
	}
}