<ul>
    <li *ngFor="let icon of iconSet1" [attr.key]="'orkut__icon_set__' + icon.slug">
      <span class="OrkutNostalgicIconSet__title">
        {{ icon.name }}
      </span>
      <span
        style="grid-area: 'number'"
        class="OrkutNostalgicIconSet__number"
      >
        <img
          [src]="libBaseURL + '/icons/' + icon.icon + '.svg'"
          [alt]="'icone orkut ' + icon.slug"
          class="OrkutNostalgicIconSet__iconSample"
          [attr.key]="'orkut__icon_set__' + icon.slug + '_img'"
        />
        0
      </span>
    </li>
    <li *ngFor="let icon of iconSet2" [attr.key]="'orkut__icon_set__' + icon.slug">
      <span class="OrkutNostalgicIconSet__title">
        {{ icon.name }}
      </span>
      <span
        class="
          OrkutNostalgicIconSet__iconComplex
          OrkutNostalgicIconSet__number
        "
      >
        <img
          *ngFor="let _ of [0, 1, 2]; let index = index"
          [attr.key]="'orkut__icon_set__' + icon.slug + '_img_' + index"
          [src]="libBaseURL + '/icons/' + icon.icon + '.svg'"
          [alt]="'icone orkut ' + icon.slug"
          style="margin-right: 2px"
          [ngStyle]="{ opacity: index <= 2 - 1 ? 1 : '0.5' }"
        />
      </span>
    </li>
  </ul>
  
  